﻿@model webapi.Models.User;
@{
    ViewData["Title"] = "Home Page";
}

<form asp-action="Index" class="form-horizontal">
    <div class="form-group">
        <label class="control-label">First Name</label>
        <input asp-for="FirstName" class="form-control" />
    </div>
    <div class="form-group">
        <label class="control-label">Last Name</label>
        <input asp-for="LastName" class="form-control" />
    </div>
    <div class="form-group">
        <label class="control-label">Email Address</label>
        <input asp-for="EmailAddress" type="email" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Submit" class="btn btn-primary" />
    </div>
</form>
@{
    if (TempData["msg"] != null)
    {
            <script>
                alert('@TempData["msg"]');
            </script>
    }
}
